*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/*====================================================================HOME PAGE========================================================================*/
#header{
    background-color: lightpink;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#header a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.h2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/*===============================================================INSERT PAGE=======================================================================================*/
#form{
    margin-top: 25px;
    width: 400px;
    height: 350px;
    /* border:  1px solid #ccc; */
    border-radius: 10px;
    margin-left: 33%;
    padding: 2rem;
    background-color: aliceblue;
    /* box-shadow: 3px 10px 15px aliceblue, -3px -10px 15px aliceblue; */
}
#form input{
    width: 100%;
    height: 33px;
    border:  1px solid #ccc;
    border-radius: 5px;
}
#form  button{
    padding: 0.4rem;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(3, 128, 253);
    border: none;
    border-radius: 5px;
}